label {
    font-size: 150%;
    color: white;
    padding-bottom: 0%;
    margin: 2%;
}

input
{
    margin: 2%;
}

button
{
    margin: 2%;
}


.resultadoDelCambio
{   color: green;
    
    
    height:300px;
    font-size: 200%;
    display: grid;
    justify-content: center;
}